
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Sream Gallery</title>
<link
href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
rel="stylesheet"
/>
</head>

<body>
<div class="container-fluid py-5">
<div class="row">
<div class="col-12 text-center">
<h2 class="display-4">Celebrating Sream's Milestones</h2>
<p class="lead">
Take a look at some of Sream's most memorable moments and
achievements.
</p>
<hr />
<div class="row">
<div class="col-md-4">
<img
src="https://via.placeholder.com/200x200"
class="img-thumbnail"
/>
<p class="text-center">Sream's official launch</p>
</div>
<div class="col-md-4">
<img
src="https://via.placeholder.com/200x200"
class="img-thumbnail"
/>
<p class="text-center">Sream reaches 1 million users</p>
</div>
<div class="col-md-4">
<img
src="https://via.placeholder.com/200x200"
class="img-thumbnail"
/>
<p class="text-center">Sream wins prestigious industry award</p>
</div>
</div>
</div>
</div>
</div>
</body>
</html>


