
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Celebrating Sream's Success</title>
<link
href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
rel="stylesheet"
/>
</head>

<body>
<div class="container-fluid py-5">
<div class="row">
<div class="col-12 text-center">
<h1 class="display-4">Congratulations to Sream!</h1>
<p class="lead">
We are thrilled to announce that Sream has achieved remarkable
success.
</p>
<p>
Sream's journey has been marked by innovation, dedication, and a
relentless pursuit of excellence.
</p>
<a href="/about" class="btn btn-primary">Learn More</a>
</div>
</div>
</div>
</body>
</html>


